.top {
	width: 100%;
	height: 50px;
	display: flex;
	z-index: 999;
      }

      
      .topImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-top:-5px;
      }   
      
      .topSearchIcon {
	font-size: 18px;
	cursor: pointer;
	margin-left: 15px;
      }


.nav-link li{
  font-size: 22px;
  font-weight: bold;
}